
:root {
  --dark-color: #111;
  --light-color: #eee;
  --primary-color: rgb(216, 218, 74);
  --secondary-color: rgb(33, 53, 61);
}

@font-face {
  font-family: logo;
  src: url(/fonts/LEMONMILK-Regular.otf);
}

@font-face {
  font-family: cavier;
  src: url('/fonts/CaviarDreams.ttf');
}

@font-face {
  font-family: default-font;
  src: url(/fonts/NexaText-Trial-Black.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: default-font;
}

body {
  width: 100%;
  background-color: var(--dark-color);
  color: var(--light-color);
  height: 1000px;
}

header {
  background: url('img/starry_night_by_izersy-d735rj7.jpg') center / cover;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  width: 100%;
  position: fixed;
  top: 0;
}

.logo, .jf {
  font-family: logo;
  font-size: 50px;
  font-weight: 900;
  cursor: pointer;
  color: var(--primary-color);
}

.jf {
  color: var(--light-color);
}

.navs {
  float: left;
  margin: 30px;
  transition: .2s;
  font-weight: 700;
  text-align: center;
  position: relative;
}

.navs::after {
  content: '';
  width: 0%;
  height: 3px;                            /*  the underline of navs */
  background: var(--primary-color);
  position: absolute;
  bottom: -7px;
  left: 0;
  transition: .3s;
}

.navs:hover {
  color: var(--primary-color);
}

.navs:hover::after {
  width: 100%;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
  align-items: center;
  height: 100%;
}

.description-container {
  color: var(--primary-color);
  font-size: 24px;
  text-align: justify;
  font-family: cavier;
  width: 59%;
  background-color: rgba(0, 0, 0, .7);
  padding: 40px 50px;
  border-radius: 5px;
}

.name {
  font-size: 40px;
  font-weight: 900;
  color: var(--light-color);
  margin: 10px 0;
}

.pic {
  border-radius: 100%;
  width: 30%;
}